<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servo Control</title>
</head>
<body>
    <h1>Servo Control</h1>
    
    <!-- Form per l'inserimento manuale degli angoli -->
    <form id="manualControlForm">
        <div>
            <label for="manual_angle_x">Angle X (0-180): </label>
            <input type="number" id="manual_angle_x" name="manual_angle_x" min="0" max="180" step="1" placeholder="Enter angle X">
        </div>

        <div>
            <label for="manual_angle_y">Angle Y (0-180): </label>
            <input type="number" id="manual_angle_y" name="manual_angle_y" min="0" max="180" step="1" placeholder="Enter angle Y">
        </div>

        <button type="button" onclick="sendManualAngles()">Set Manual Angles</button>
    </form>

    <!-- Form per il controllo degli angoli tramite slider -->
    <form id="sliderControlForm">
        <label for="angle_x">Angle X (0-180): </label>
        <input type="range" id="angle_x" name="angle_x" min="0" max="180" step="1" value="90" oninput="updateSlider('angle_x', 'angleXValue')">
        <span id="angleXValue">90</span>
        <br>

        <label for="angle_y">Angle Y (0-180): </label>
        <input type="range" id="angle_y" name="angle_y" min="0" max="180" step="1" value="90" oninput="updateSlider('angle_y', 'angleYValue')">
        <span id="angleYValue">90</span>
        <br>

    </form>

    <script>
        function sendManualAngles() {
            var angleX = document.getElementById("manual_angle_x").value;
            var angleY = document.getElementById("manual_angle_y").value;

            sendAngles(angleX, angleY);
        }

        function sendSliderAngles() {
            var angleX = document.getElementById("angle_x").value;
            var angleY = document.getElementById("angle_y").value;

            sendAngles(angleX, angleY);
        }

        function sendAngles(angleX, angleY) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/control", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("angle_x=" + angleX + "&angle_y=" + angleY);

            xhr.onload = function () {
                if (xhr.status == 200) {
                    console.log("Servo angles set successfully");
                } else {
                    console.error("Failed to set servo angles");
                }
            };
        }

        function updateSlider(sliderId, displayId) {
            // Aggiorna il valore dello slider
            var sliderValue = document.getElementById(sliderId).value;
            document.getElementById(displayId).innerText = sliderValue;
        }
    </script>
</body>
</html>
