<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Raspberry Pi Camera Stream</title>
</head>
<body>
    <h1>Live Camera Stream</h1>
    <div class="video-container">
        <img id="live-image" src="{{ url_for('video_feed') }}" alt="Camera Feed">
    </div>
    <form action="/capture" method="post">
        <button type="submit">Cattura e Salva Immagine</button>
    </form>
</body>
</html>
